This is a notebook to learn simple Linear Regression using Scikit-learn and Pandas

1. Import the needed Packages.

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
import os

2. Load the data

In [3]:
df = pd.read_csv("../../FuelConsumptionCo2.csv")

In [5]:
# Verify successful loading 
df.sample(5)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
130,2014,BMW,X5 xDRIVE35i,SUV - STANDARD,3.0,6,A8,Z,12.9,8.8,11.1,25,255
618,2014,KIA,RONDO,STATION WAGON - MID-SIZE,2.0,4,A6,X,10.5,7.5,9.2,31,212
38,2014,AUDI,Q5,SUV - SMALL,2.0,4,AS8,Z,12.0,8.5,10.4,27,239
453,2014,GMC,SIERRA,PICKUP TRUCK - STANDARD,4.3,6,A6,X,13.4,9.9,11.8,24,271
142,2014,BUICK,ENCORE,SUV - SMALL,1.4,4,AS6,X,9.5,7.2,8.5,33,196

In [9]:
# get a quick info on the data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   MAKE                      1067 non-null   object
 2   MODEL                     1067 non-null   object
 3   VEHICLECLASS              1067 non-null   object
 4   ENGINESIZE                1067 non-null   float64
 5   CYLINDERS                 1067 non-null   int64
 6   TRANSMISSION              1067 non-null   object
 7   FUELTYPE                  1067 non-null   object
 8   FUELCONSUMPTION_CITY      1067 non-null   float64
 9   FUELCONSUMPTION_HWY       1067 non-null   float64
 10  FUELCONSUMPTION_COMB      1067 non-null   float64
 11  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 12  CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB
None

In [8]:
#View a stats summary of the numerical columns
df.describe()

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.0,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,2014.0,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000

NB: The "Year" column may need to be converted to a Date column

# understand the summary
| Statistic | Meaning                                | Simple Explanation                                             |
| --------- | -------------------------------------- | -------------------------------------------------------------- |
| **count** | Number of non-missing (non-NaN) values | How many data points you have                                  |
| **mean**  | Average value                          | Add them all up and divide by count                            |
| **std**   | Standard deviation                     | Tells how spread out the numbers are (higher = more variation) |
| **min**   | Minimum value                          | The smallest number in the column                              |
| **25%**   | 25th percentile (Q1)                   | 25% of the data is below this value                            |
| **50%**   | Median (Q2)                            | The middle value (half above, half below)                      |
| **75%**   | 75th percentile (Q3)                   | 75% of the data is below this value                            |
| **max**   | Maximum value                          | The largest number in the column                               |


- By default, "df.describe()" only returns the descriptive stats for numerical columns. To include all columns run "df.describe(include='all')

For categorical (text) columns, it shows:

- count: how many non-empty values
- unique: how many different values
- top: most common value
- freq: how often that top value appears